@font-face {
  font-family: "graphiklcweb_medium";
  src: url("css/fonts/graphiklcweb_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: var(--main-color);
}

body {
  font-family: var(--main-font);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  color: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:invalid,
input:invalid:focus {
  border: 1px solid var(--input-color);
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

input[type=search],
input[type=submit] {
  padding: 6px;
  font-size: 20px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  border: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 20px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--red);
}

.btn--sm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  border: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
  border-radius: 8px;
  line-height: 26px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
}

.main {
  margin-top: 91px;
}
:root {
  --black: #000000;
  --white: #FFFFFF;
  --little-dark-white: #F6F6F6;
  --dark-white: #dedede;
  --l-d-white: #efefef;
  --light-black: #484848;
  --dark-grey: #474747;
  --light-grey: #ababab;
  --main-color: #F0EBF5;
  --red: #F12E1D;
  --green: #008178;
  --grey: #989898;
  --blue: #0275d8;
  --dark-blue: #014c8c;
  --grey-font: #aaa9a9;
  --input-grey: #bfbfbf;
  --input-color: #07000d;
  --link-grey: #808080;
  --transition: all 0.5s ease-in-out;
  --main-font: "graphiklcweb_medium", sans-serif;
}
.footer {
  background-color: var(--white);
  padding: 20px;
  border-top: 1px solid #d6d6df;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 655px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 160px;
}
.footer-policy a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #161616;
  text-decoration: none;
  font-weight: 500;
}
.footer-menu-info a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #161616;
  text-decoration: none;
  font-weight: 500;
  gap: 5px;
}
.footer-menu-info a svg {
  min-width: 35px;
}
.footer .block-logo {
  min-width: 90px;
}
.footer .menu__main_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .menu__main_list li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #161616;
  text-decoration: none;
  font-weight: 500;
  gap: 5px;
}
.footer .menu__main_list li a svg {
  height: 30px;
  width: 30px;
}
.footer .nav__title {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #707078;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}
.footer-copyright {
  margin-top: 20px;
}
.header {
  background-color: var(--white);
  padding: 0 20px;
  border-bottom: 1px solid #d6d6df;
  width: 100%;
  z-index: 1041;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 740px) {
  .header .nav {
    gap: 10px;
  }
}
.header .nav .hamburger {
  border: none;
  background: none;
}
.header .nav .hamburger:hover {
  cursor: pointer;
}
@media screen and (min-width: 655px) {
  .header .nav .hamburger {
    display: none;
  }
}
.header .nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 655px) {
  .header .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.header .nav ul li svg {
  height: 30px;
  width: 30px;
}
.header .nav .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav .menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.header .nav .menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #161616;
  text-decoration: none;
  font-weight: 500;
  gap: 5px;
}
.header .nav .menu li {
  text-transform: none;
}
@media screen and (max-width: 1230px) {
  .header .nav .menu .menu__additional {
    display: none;
  }
}
@media screen and (max-width: 1230px) {
  .header .nav .menu__title {
    text-transform: uppercase;
    font-size: 22px;
  }
}
@media screen and (max-width: 740px) {
  .header .nav .menu__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 655px) {
  .header .nav .menu__title {
    display: none;
  }
}
.header .nav-actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.header .nav-actions > a:not(.btn) {
  color: #161616;
  text-decoration: none;
}
.header .nav-has-dropdown {
  position: relative;
  cursor: pointer;
}
.header .nav-has-dropdown:hover > .nav-dropdown {
  display: block;
}
.header .nav-has-dropdown span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav-has-dropdown .nav-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 16px;
  cursor: auto;
  background: var(--white);
  padding: 10px;
  min-width: 530px;
  border: 1px solid #d6d6df;
}
@media screen and (max-width: 655px) {
  .header .nav-has-dropdown .nav-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 12;
    width: 100%;
    max-width: 550px;
    background-color: var(--white);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    padding: 30px;
    right: 0;
    min-width: auto;
  }
}
.header .nav-has-dropdown .nav-dropdown.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.header .nav-has-dropdown .nav-dropdown ul {
  gap: 15px;
}
.header .nav-has-dropdown .nav-dropdown .close {
  display: none;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.header .nav-has-dropdown .nav-dropdown .close:hover {
  cursor: pointer;
}
@media screen and (max-width: 655px) {
  .header .nav-has-dropdown .nav-dropdown .close {
    display: block;
  }
}
.header .nav-has-dropdown .nav-dropdown .close svg {
  height: 50px;
  width: 50px;
}
.header .nav__title {
  text-transform: uppercase;
  color: #707078;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  min-width: 180px;
}