<div class="pricing-card" style="background-color: @@background_color;">
    <div class="pricing-card__header">
        <img class="icon-big" src="img/@@icon.svg" alt="@@icon">
        <p class="title2">@@title</p>
        @@if discount {
            <div class="box-discount">-@@discount</div>
        }
    </div>
    <div class="pricing-card__content">
        <div data-period="year">
            <h3>
                <span class="pricing-card__number">@@price</span>@@currency <small>/@@title</small>
            </h3>
        </div>
        <a target="_self" style="width:100%; background-color: @@background_button_color;" class="btn btn--premium" href="/en/user/@@icon/1" data-url="/en/user/@@icon">
            Upgrade to @@title Account
        </a>
        <p class="title4">@@discount-text</p>
    </div>
</div>