.header {
    background-color: var(--white);
    padding: 0 20px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    z-index: 1041;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width: 740px) {
            gap: 10px;
        }

        .hamburger {
            border: none;
            background: none;

            &:hover {
                cursor: pointer;
            }

            @media screen and (min-width: 655px) {
                display: none;
            }
        }

        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
            font-size: 13px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;

            @media screen and (max-width: 655px) {
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
            }

            li {
                svg {
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .menu {
            align-items: center;
            display: flex;
            order: 2;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            gap: 20px;
            justify-content: space-between;

            >ul {
                display: flex;
                gap: 20px;
            }

            a {
                display: inline-flex;
                align-items: center;
                color: var(--main-black);
                text-decoration: none;
                font-weight: 500;
                gap: 5px;
            }

            li {
                text-transform: none;
            }

            .menu__additional {
                @media screen and (max-width: 1230px) {
                    display: none;
                }
            }

            &__title {
                @media screen and (max-width: 1230px) {
                    text-transform: uppercase;
                    font-size: 22px;
                }

                @media screen and (max-width: 740px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 655px) {
                    display: none;
                }
            }
        }


    }

    .nav-actions {
        align-items: center;
        display: flex;
        gap: 20px;
        order: 3;

        >a:not(.btn) {
            color: var(--main-black);
            text-decoration: none;
        }
    }

    .nav-has-dropdown {
        position: relative;
        cursor: pointer;

        &:hover {
            >.nav-dropdown {
                display: block;
            }
        }

        span {
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .nav-dropdown {
            display: none;

            position: absolute;
            top: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);
            padding-top: 16px;
            cursor: auto;
            background: var(--white);
            padding: 10px;
            min-width: 530px;
            border: 1px solid var(--border-color);

            @media screen and (max-width: 655px) {
                display: flex;
                transform: rotateX(90deg);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 12;
                width: 100%;
                max-width: 550px;
                background-color: var(--white);
                transition: var(--transition);
                transform-origin: center top;
                align-items: flex-start;
                gap: 0;
                flex-direction: column;
                max-width: 100%;
                padding: 30px;
                right: 0;
                min-width: auto;
            }

            &.active {
                transform: translateX(0);
            }

            ul {
                gap: 15px;

                @media screen and (max-width: 655px) {
                    gap: 6px;
                }

                @media screen and (max-height: 555px) {
                    gap: 6px;
                }
            }

            .close {
                display: none;
                background: none;
                border: none;
                position: absolute;
                top: 20px;
                right: 20px;

                &:hover {
                    cursor: pointer;
                }

                @media screen and (max-width: 655px) {
                    display: block;
                }

                svg {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }

    .nav__title {
        text-transform: uppercase;
        color: var(--violet);
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        min-width: 180px;
    }
}