.footer {
    background-color: var(--white);
    padding: 20px;
    border-top: 1px solid var(--border-color);

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width: 655px) {
            flex-direction: column;
        }
    }

    &-policy {
        display: flex;
        gap: 20px;
        flex-direction: column;
        min-width: 160px;

        a {
            align-items: center;
            display: inline-flex;
            color: var(--main-black);
            text-decoration: none;
            font-weight: 500;
        }
    }

    &-menu-info {
        a {
            align-items: center;
            display: inline-flex;
            color: var(--main-black);
            text-decoration: none;
            font-weight: 500;
            gap: 5px;

            svg {
                min-width: 35px;
            }
        }
    }

    .block-logo {
        min-width: 90px;
    }

    .menu__main {
        &_list {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            li {
                a {
                    align-items: center;
                    display: inline-flex;
                    color: var(--main-black);
                    text-decoration: none;
                    font-weight: 500;
                    gap: 5px;

                    svg {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }

    .nav__title {
        text-transform: uppercase;
        margin-bottom: 12px;
        color: var(--violet);
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
    }

    &-copyright {
        margin-top: 20px;
    }
}