<sidebar class="sidebar">
    <button id="button_back_sidebar" class="button-back-sidebar"></button>
    <div class="sidebar__user">
        <div class="avatar">
            <div class="avatar__img">
                <img style="max-width: 60px;" class="user__avatar__edit__preload" src="img/user.svg">
                <p class="avatar__information__role">
                    Registered
                </p>
            </div>
            <div class="avatar__information">
                <p class="avatar__information__email" title="jcfbherifvbsgrbsguhgeiuvh@gmail.com">
                    jcfbherifvbsgrbsguhgeiuvh@gmail.com
                </p>
            </div>
        </div>
    </div>
    <ul class="sidebar__menu">
        <li class="sidebar__menu__subtitle">Profile</li>
        <li class="sidebar__menu__item sidebar__menu__item--active">
            <a href="/en/user"><img class="icon" src="img/user.svg">My Account</a>
        </li>
        <li class="sidebar__menu__subtitle">Billing</li>

        <li class="sidebar__menu__item ">
            <a href="/en/user/pricing"><img class="icon" src="img/dropbox.svg">Plans and Packages</a>
        </li>
        <li class="sidebar__menu__item ">
            <a href="/en/user/invoices"><img class="icon" src="img/card.svg">Bills</a>
        </li>
    </ul>
</sidebar>