@font-face {
  font-family: 'pdf-converter';
  src: url('css/fonts/pdf-converter.eot?na5wx0');
  src: url('css/fonts/pdf-converter.eot?na5wx0#iefix') format('embedded-opentype'),
    url('css/fonts/pdf-converter.ttf?na5wx0') format('truetype'),
    url('css/fonts/pdf-converter.woff?na5wx0') format('woff'),
    url('css/fonts/pdf-converter.svg?na5wx0#pdf-converter') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pdf-converter' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e922";
  color: #1c274c;
}

.icon-lock:before {
  content: "\e924";
  color: #1c274c;
}

.icon-key:before {
  content: "\e925";
  color: #1c274c;
}

.icon-facebook:before {
  content: "\e92a";
  color: #6e3aa3;
}

.icon-dropbox:before {
  content: "\e92b";
  color: #6e3aa3;
}

.icon-phone:before {
  content: "\e92c";
  color: #6e3aa3;
}

.icon-password:before {
  content: "\e92d";
  color: #6e3aa3;
}

.icon-down-arrow:before {
  content: "\e92e";
}

.icon-hamburger:before {
  content: "\e92f";
}

.icon-email:before {
  content: "\e930";
  color: #6e3aa3;
}

.icon-close:before {
  content: "\e931";
}

.icon-address:before {
  content: "\e932";
  color: #6e3aa3;
}

.icon-google-drive:before {
  content: "\ea8f";
}