*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-black);
  background-color: var(--main-color);
}

body {
  font-family: var(--main-font);
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  color: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:invalid,
input:invalid:focus {
  border: 1px solid var(--input-color);
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

input[type=search],
input[type=submit] {
  padding: 6px;
  font-size: 20px;
}

.btn {
  width: fit-content;
  font-weight: 600;
  border: none;
  transition: all .1s linear;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 20px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--violet);

  &:hover {
    opacity: 0.8;
  }
}

.btn--sm {
  width: fit-content;
  font-weight: 600;
  border: none;
  transition: all .1s linear;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
  border-radius: 8px;
  line-height: 26px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
}

h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: var(--black);
  text-align: center;
  margin: 20px auto;
}

h2 {
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  color: var(--main-black);
  text-align: center;
  margin: 20px auto;
}

[class^=icon-],
[class*=" icon-"] {
  font-size: 24px;
}

.icon-down-arrow:before {
  font-size: 32px;
}

.icon {
  max-width: 30px;
  max-height: 30px;
}

.icon-big {
  max-width: 40px;
  max-height: 40px;
}

.page-width {
  max-width: 1560px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  z-index: 1;
  display: block;
  position: relative;

  @media screen and (max-width: 380px) {
    padding: 0 15px;
  }
}

.main {
  margin-top: 100px;
}

.title2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: var(--black);
}

p {
  font-size: 14px;
  line-height: 24px;
}

.brand {
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title4 {
  line-height: 22px;
  font-size: 17px;
  font-weight: 400;
  font-weight: 600;
  color: var(--black);
  font-family: "OpenSans", sans-serif;
  text-align: center;
}

.go_back {
  font-weight: 500;
  text-decoration: underline;
  color: #e5322d;
  cursor: pointer;
}

input[type=email] {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--dark-grey);
  transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
  padding: 12px;
  box-shadow: none;
  width: 100%;

  &:focus,
  &:hover,
  &:active,
  &:focus-visible {
    border: 1px solid var(--violet);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.error_text {
  color: var(--red);
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  line-height: 14px;
}

.error-input {
  border: 1px solid var(--red) !important;
}