*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: var(--main-color);
}

body {
  font-family: var(--main-font);
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  color: var(--black);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:invalid,
input:invalid:focus {
  border: 1px solid var(--input-color);
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

input[type=search],
input[type=submit] {
  padding: 6px;
  font-size: 20px;
}

.btn {
  width: fit-content;
  font-weight: 600;
  border: none;
  transition: all .1s linear;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 20px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--red);
}

.btn--sm {
  width: fit-content;
  font-weight: 600;
  border: none;
  transition: all .1s linear;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 16px;
  border-radius: 8px;
  line-height: 26px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
}

.main {
  margin-top: 91px;
}