:root {
  --black: #000000;
  --white: #FFFFFF;

  --little-dark-white: #F6F6F6;
  --dark-white: #dedede;
  --l-d-white: #efefef;

  --light-black: #484848;

  --dark-grey: #474747;
  --light-grey: #ababab;
  
  --main-color: #F0EBF5;
  --red: #F12E1D;
  --green: #008178;
  --grey: #989898;
  --blue: #0275d8;
  --dark-blue: #014c8c;

  --grey-font: #aaa9a9;

  --input-grey: #bfbfbf;
  --input-color: #07000d;

  --link-grey: #808080;

  --transition: all 0.5s ease-in-out;

  --main-font : 'graphiklcweb_medium', sans-serif;
}