:root {
  --black: #000000;
  --white: #FFFFFF;
  
  --main-color: #F0EBF5;
  --red: #F12E1D;

  --light-black: #292b2c;
  --dark-grey: #33333b;
  --light-grey: #707078;

  --main-black: #161616;

  --border-color: #d6d6df;

  --violet: #6e3aa3;

  --transition: all 0.5s ease-in-out;

  --main-font : 'graphiklcweb_medium', sans-serif;
}